/*
    SELECTORES: Recordar que se leen de Arriba abajo(Sobreescribe).
    Cuando mas especifica es la regla mas prioridad tiene #saludo h1{...}
    color: red !important -> no importa el orden va ser prioridad y pintara el rojo.
*/

/*SELECTOR UNIVERSAL*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*SELECTOR DE ETIQUETA*/
h1{
    background: red;
    color: white;
    padding: 10px;
}
a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}
    /*selectores compuestos*/
footer a {
    color: red;
}

/*SELECTOR DE ID*/
#descripcion{
    border: 5px solid black;
    padding: 15px;
}

    /*Compartir estilos aplica para etiqueta, id, clase*/
    #descripcion,
    #titulo{
        border: dashed yellow;
    }

/*SELECTOR DE CLASE*/
.parrafo{
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}
.parrafo1, .parrafo3{
    background-color: green;
    color: white;
}
.parrafo3{
    background-color: orange;
    color: black;
    border: 1px solid black;
    font-size: 25px;
}

/*SELECTOR DE ATRIBUTO*/
#usuario form{
    border: 5px solid blue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
}
#usuario form *{
    display: block;
}

input[type="text"]{
    margin-bottom: 15px;
    padding: 10px;
    /*se puede aplicar en varias proporciones %, px, etc*/
    width: 300px;
}
input[type="submit"]{
    background: green;
    color: white;
    padding: 15px;
    font-size: 15px;
    text-transform: uppercase;
    border: 1px solid black;
    cursor: pointer;
}

/*SELECTOR HIJO*/
#menu > li > a {
    color: red;
}