/*
    SELECTORES: Recordar que se leen de Arriba abajo(Sobreescribe).
*/

/*SELECTOR UNIVERSAL*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*SELECTOR DE ETIQUETA*/
h1{
    background: red;
    color: white;
    padding: 10px;
}
a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}
    /*selectores compuestos*/
footer a {
    color: red;
}

/*SELECTOR DE ID*/
#descripcion{
    border: 5px solid black;
    padding: 15px;
}

    /*Compartir estilos aplica para etiqueta, id, clase*/
    #descripcion,
    #titulo{
        border: dashed yellow;
    }

/*SELECTOR DE CLASE*/
.parrafo{
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}
.parrafo1, .parrafo3{
    background-color: green;
    color: white;
}
.parrafo3{
    background-color: orange;
    color: black;
    border: 1px solid black;
    font-size: 25px;
}