/*
    SELECTORES
*/

/*SELECTOR UNIVERSAL*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*SELECTOR DE ETIQUETA*/
h1{
    background: red;
    color: white;
    padding: 10px;
}
a{
    font-size: 18px;
    color: green;
    text-decoration: none;
}
    /*selectores compuestos*/
footer a {
    color: red;
}